.commentButtons {
  display: flex;
  gap: 1.25rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-weight: var(--fw-semibold);
  transition: opacity 100ms ease-out;
}

.btn:hover {
  opacity: 0.5;
}

.iconWrapper {
  position: relative;
  height: 0.75rem;
  width: 0.75rem;
}

@media only screen and (max-width: 768px) {
  .commentButtons {
    grid-row-start: 3;
    justify-self: end;
  }
}
