:root {
  --clr-blue-200: hsl(239, 57%, 85%);
  --clr-blue-500: hsl(238, 40%, 52%);
  --clr-blue-800: hsl(212, 24%, 26%);

  --clr-red-200: hsl(357, 100%, 86%);
  --clr-red-500: hsl(358, 79%, 66%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-neutral-100: hsl(228, 33%, 97%);
  --clr-neutral-200: hsl(223, 19%, 93%);
  --clr-neutral-400: hsl(211, 10%, 45%);

  --fs-small: 0.875rem;
  --fs-base: 1rem;
  --fs-large: 1.25rem;

  --fw-regular: 400;
  --fw-semibold: 500;
  --fw-bold: 700;

  --br-medium: 0.35rem;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*:focus-visible {
  outline: 2px solid var(--clr-red-500);
}

body {
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  color: var(--clr-blue-800);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--clr-neutral-100);
}

main {
  max-width: 750px;
  margin: 5rem auto;
  padding-inline: 1rem;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: var(--fs-base);
  font-weight: var(--fw-regular);
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  list-style-type: none;
}

button {
  border: none;
  background: none;
}
button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  main {
    margin-block: 2rem;
  }
}
