.commentItem {
  max-width: 750px;
  margin-inline: auto;
}

.comment {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 1rem 1.25rem;
  align-items: center;
}

.replyToUsername {
  font-weight: var(--fw-semibold);
  color: var(--clr-blue-500);
}

.content {
  color: var(--clr-neutral-400);
  grid-column: span 2;
}

@media only screen and (max-width: 768px) {
  .comment {
    grid-template-columns: auto 1fr;
    grid-auto-rows: auto;
  }
}
